<script>
import Draggable from 'vuedraggable';

export default {
  name: 'GlPanelDraggable',
  components: {
    Draggable,
  },
  props: {
    list: {
      type: Array,
      default: null,
      required: true,
    },
    value: {
      type: Array,
      default: null,
      required: false,
    },
    disabled: {
      type: Boolean,
      default: false,
      required: true,
    },
  },

  create() {
    if (this.value !== null) {
      throw new TypeError('v-model or :value is not supported.');
    }
  },

  render: function(h) {
    if (!this.disabled && this.$slots.default) {
      this.$slots.default.forEach((itemVNode, i) => {
        itemVNode.children.push(
          h(
            'a',
            {
              class: ['remove-handle'],
              on: {
                click: () => {
                  this.list.splice(i, 1);
                },
              },
            },
            ['x'], // TODO Use icon
          ),
        );
      });
    }

    return h(
      'draggable',
      {
        attrs: {
          list: this.list,
          disabled: this.disabled,
          componentData: {
            attrs: {
              class:
                'gl-draggable ' +
                (this.disabled ? 'gl-draggable-disabled' : 'gl-draggable-enabled'),
            },
          },
          ...this.$attrs,
        },
        on: {
          ...this.$listeners,
        },
      },
      this.$slots.default,
    );
  },
};
</script>

<style>
.gl-draggable > * {
  position: relative;
}
.gl-draggable-enabled {
  cursor: grab;
}
.gl-draggable-enabled > * {
  border: 2px dotted #73afea;
}
.gl-draggable-enabled > * > * {
  pointer-events: none;
}
.remove-handle {
  color: #73afea !important;
  top: 8px;
  right: 8px;
  line-height: 8px;
  position: absolute;
  cursor: pointer;
}
.sortable-ghost {
  opacity: 0.4;
  background-color: #73afea;
}
</style>
