<script>
import 'bootstrap/dist/css/bootstrap.min.css';

import GlPanelDraggable from './components/GlPanelDraggable.vue';
import { GlLineChart } from '@gitlab/ui/dist/charts';

function getData() {
  const data = [];
  for (let i = 0; i < 3; i++) {
    data.push([i, Math.random()]);
  }
  return [{ name: 'Values', data }];
}

export default {
  name: 'app',
  components: {
    GlPanelDraggable,
    GlLineChart,
  },
  data() {
    return {
      list: [
        { id: 1, name: 'Chart 1', data: getData() },
        { id: 2, name: 'Chart 2', data: getData() },
        { id: 3, name: 'Chart 3', data: getData() },
      ],

      list2: [
        { id: 4, name: 'Chart 4', data: getData() },
        { id: 5, name: 'Chart 5 (empty)' },
        { id: 6, name: 'Chart ', data: getData() },
      ],

      disabled: true,

      code: `<gl-panel-draggable :list="list" :disabled="disabled" group="myDashboard">
  <div class="element" v-for="element in list" :key="element.id">
    <strong>{{ element.name }}</strong>
    <gl-line-chart :height="200" v-if="element.data" :data="element.data" />
  </div>
</gl-panel-draggable>`
    };
  },
  methods: {
    printData(data) {
      return JSON.stringify(
        data,
        (k, v) => {
          return k == 'data' ? '...' : v;
        },
        2,
      );
    },
  },
};
</script>

<template>
  <div class="container">
    <br>
    <h1>GlPanelDraggable POC</h1>
    <p>
      Click on "Rearrange" to reorganize our dashboard<br/>
      This is a component concept for issue:
      <a href="https://gitlab.com/gitlab-org/gitlab-ce/issues/60011"
        >Move panels in dashboard</a
      >
    </p>
    <div class="bar">
      <button class="btn btn-primary" v-on:click="disabled = !disabled">
        {{ disabled ? 'Rearrange' : 'Done' }}
      </button>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <gl-panel-draggable :list="list" :disabled="disabled" group="myDashboard">
          <div class="element" v-for="element in list" :key="element.id">
            <strong>{{ element.name }}</strong>
            <gl-line-chart :height="200" v-if="element.data" :data="element.data" />
          </div>
        </gl-panel-draggable>
      </div>
      <div class="col-12 col-sm-6">
        <gl-panel-draggable :list="list2" :disabled="disabled" group="myDashboard">
          <div class="element" v-for="element in list2" :key="element.id">
            <strong>{{ element.name }}</strong>
            <gl-line-chart :height="200" v-if="element.data" :data="element.data" />
          </div>
        </gl-panel-draggable>
      </div>
    </div>
    
    <h2>Dynamic Data</h2>
    <div class="row backstage">
      <div class="col-12 col-sm-6">
        <pre>List 1 => {{ printData(list) }}</pre>
      </div>
      <div class="col-12 col-sm-6">
        <pre>List 2 => {{ printData(list2) }}</pre>
      </div>
    </div>

    <h2>Usage</h2>
    <pre>{{code}}</pre>
  </div>
</template>

<style>

.bar {
  padding: 20px 0;
  text-align: right;
}

.backstage pre {
  border: 1px lightgray solid;
  font-size: 10px;
  padding: 10px;
}

.element {
  /* border: 1px solid black; */
  padding: 20px;
  margin-bottom: 10px;
  min-height: 300px;
  text-align: center;
}

</style>
